{% extends "orders/base.html" %}

{% block script %}
{% load static %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
{% endblock %}

{% block title %}
  Product management
{% endblock %}

{% block main %}

<div class="container pb-5 bg-light">
  <h3 class="text-center mt-3">Thêm sản phẩm mới</h3>
  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <div class="">
    <form class="needs-validation" novalidate action="/manageProduct" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="productName">Tên sản phẩm</label>
          <input type="text" class="form-control" id="productName" name="productName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Bạn cần nhập tên sản phẩm.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="category">Phân loại</label>
          <select class="custom-select d-block w-100" id="category" name="category" required>
            <option value="">Chọn...</option>
            <option value="TRÀ SỮA">Trà sữa</option>
            <option value="SODA">Soda</option>
            <option value="SỮA TƯƠI">Sữa tươi</option>
            <option value="NƯỚC TRÁI CÂY">Nước trái cây</option>
            <option value="ĐỒ ĂN VẶT">Đồ ăn vặt</option>
            <option value="THỨC UỐNG KHÁC">Đồ uống khác</option>
          </select>
          <div class="invalid-feedback">
            Bạn cần chọn phân loại sản phẩm.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="price_basic">Đơn giá (VND)</label>
          <input type="number" class="form-control" id="price_basic" name="price_basic" placeholder="" step="0.01" min="0" required>
          <div class="invalid-feedback">
            Bạn cần nhập đơn giá.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="unit">Đơn vị tính</label>
          <input type="text" class="form-control" id="unit" name="unit" placeholder="" maxlength="8" required>
          <div class="invalid-feedback">
            Bạn cần nhập đơn vị tính.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="availablity">Trạng thái</label>
          <select class="custom-select d-block w-100" id="availablity" name="availablity" required>
            <option value="">Chọn...</option>
            <option value="available">Đã có</option>
            <option value="unavailable">Chưa có</option>
            <option value="comming soon">Sắp có</option>
          </select>
          <div class="invalid-feedback">
            Bạn cần chọn trạng thái sản phẩm.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="quantity">Số lượng</label>
          <input type="number" class="form-control" id="quantity" name="quantity" placeholder="" min="0" required>
          <div class="invalid-feedback">
            Bạn cần nhập số lượng sản phẩm.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 mb-3">
          <label for="description_short">Mô tả ngắn</label>
          <input type="text" class="form-control" id="description_short" name="description_short" placeholder="" maxlength="64" required>
          <div class="invalid-feedback">
            Bạn cần nhập mô tả ngắn cho sản phẩm.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="product_image">Thêm ảnh sản phẩm</label>
            <input type="file" class="form-control-file" id="product_image" name="product_image" accept="image/*" required>
          </div>
          <div class="invalid-feedback">
            Vui lòng chọn ảnh hợp lệ.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description_long">Mô tả chi tiết</label>
        <input type="text" class="form-control" id="description_long" name="description_long" placeholder="" required>
        <div class="invalid-feedback">
          Bạn cần nhập mô tả chi tiết cho sản phẩm.
        </div>
      </div>
      <hr class="mb-4">
      <input type="hidden" name="upload_type" class="upload_type" value="upload">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Thêm sản phẩm</button>
    </form>
  </div>
</div>



<div class="container-lg p-0 mt-2">
  <div class="row equal">
    {% for category, items in data.items %}
      {% for item in items %}
      <div class="col-lg-3 col-md-4 col-sm-6 m-0 d-flex p-2 card-container" data-aos="zoom-in-down">
        <div class="card bg-light w-100">
          <div class="card-image w-100">
            <img class="card-img-top" src="static/orders/images/{{ item.image_filename }}" alt="product_image">
          </div>
          <div class="card-body">
            <h6 class="card-title border-bottom pb-1 item-name"><b>{{ item.name }}</b></h6>
            <p class="card-text">{{ item.description_short }}</p>
            <div class="card-footer p-0 m-0 border-0 ">
              <div class="d-flex align-items-center bg-light text-success">
                <div class="flex-grow-1">
                  <h6>{{ item.price }} VND</h6>
                </div>
                <div class="">
                  <form action="/productEdit" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" class="product_id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-primary"> Sửa thông tin</a></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

<script>
  AOS.init();
</script>
{% endblock %}
