{% extends "orders/base.html" %}

{% block title %}
  Product management
{% endblock %}

{% block main %}

<div class="container pb-5 bg-light">
  <h3 class="text-center mt-3">Sản phẩm mới</h3>
  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <div class="">
    <form class="needs-validation" novalidate action="/manageProduct" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="productName">Chỉnh sửa thông tin sản phẩm</label>
          <input type="text" class="form-control" id="productName" name="productName" value="{{ product.name }}" required>
          <div class="invalid-feedback">
            Cần nhập tên hợp lệ.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="category">Danh mục</label>
          <select class="custom-select d-block w-100" id="category" name="category" required>
            <option value="{{ product.category }}">{{ product.category }}</option>
            <option value="MILK TEA">TRÀ SỮA</option>
            <option value="SODA">SODA</option>
            <option value="FRESH MILK">SỮA TƯƠI</option>
            <option value="FRUIT TEA">TRÀ TRÁI CÂY</option>
            <option value="JUNK FOOD">ĐỒ ĂN VẶT</option>
            <option value="OTHER DRINK">THỨC UỐNG KHÁC</option>
          </select>
          <div class="invalid-feedback">
            Cần nhập danh mục hợp lệ.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="price_basic">Giá cơ bản (VND) cho 1 đơn vị</label>
          <input type="number" class="form-control" id="price_basic" name="price_basic" value="{{ product.price }}" step="0.01" min="0" required>
          <div class="invalid-feedback">
            Cần nhập giá sản phẩm hợp lệ.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="unit">Đơn vị</label>
          <input type="text" class="form-control" id="unit" name="unit" value="{{ product.unit }}" maxlength="8" required>
          <div class="invalid-feedback">
            Cần nhập đơn vị sản phẩm hợp lệ.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="availablity">Khả dụng</label>
          <select class="custom-select d-block w-100" id="availablity" name="availablity" required>
            <option value="{{ product.availability }}">{{ product.availability }}</option>
            <option value="available">có sẵn</option>
            <option value="unavailable">không có sẵn</option>
            <option value="comming soon">sắp ra mắt</option>
          </select>
          <div class="invalid-feedback">
            Cần nhập khả dụng hợp lệ.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="quantity">Số lượng</label>
          <input type="number" class="form-control" id="quantity" name="quantity" value="{{ product.quantity }}" min="0" required>
          <div class="invalid-feedback">
            Cần nhập số lượng sản phẩm hợp lệ.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 mb-3">
          <label for="description_short">Mô tả ngắn</label>
          <input type="text" class="form-control" id="description_short" name="description_short" value="{{ product.description_short }}" maxlength="64" required>
          <div class="invalid-feedback">
            Cần nhập mô tả ngắn hợp lệ.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="product_image">Thay đổi hình ảnh (tùy chọn)</label>
            <input type="file" class="form-control-file" id="product_image" name="product_image" accept="image/*">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description_long">Mô tả đầy đủ</label>
        <input type="text" class="form-control" id="description_long" name="description_long" value="{{ product.description_short }}" required>
        <div class="invalid-feedback">
          Cần nhập mô tả đầy đủ hợp lệ.
        </div>
      </div>
      <hr class="mb-4">
      <input type="hidden" name="product_id" class="product_id" value="{{ product.id }}">
      <input type="hidden" name="upload_type" class="upload_type" value="edit">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Tải lên thông tin đã chỉnh sửa</button>
    </form>
  </div>
</div>


{% endblock %}
